body {
  background-image: url('installation.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  margin: 40px;
  text-align: center;
  color: #e03c65;
  font-family: Georgia, serif;
}